.footer {
  background-color: #015a96;
  z-index: 99;
  position: relative;
  &__content {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 49px 0 27px;
  }
  &__logo {
    width: 95px;
  }
  &__itemses {
    color: #ffffff;
    font-family: 'Raleway', sans-serif;
    font-size: 12px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
    text-align: left;
  }
}
