.slider {
  margin-bottom: 74px;
}
.swiper-pagination-bullet {
  width: 47.28px;
  height: 4.8px;
  background: rgba(0, 0, 0, 0.37);
  border-radius: 32px;
}
.swiper-pagination-bullet-active {
  background: #FFFFFF;
}
